# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development environment
venv/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg/

# Miscellaneous
*.log
*.swp
.DS_Store

# Names of the Members
integrantes.txt
